{% extends 'WebApp/base.html' %}

{% block title %}
Cambiar Contraseña
{% endblock %}

{% block content %}

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-4">
        <h1>Cambiar Contraseña</h1>
        <h2>Aca puedes editar tu contraseña {{user.username}}</h2>

    <form action="" method="POST">
    {% csrf_token %}
    {{ form_password.as_p}}
    <div class="d-flex justify-content-around">
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        <a class="btn btn-secondary" href="{% url 'perfil' %}">Volver</a> 

    </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}