{% extends 'WebApp/base.html' %}

{% load static %}

{% block title %}
    Devoluciones
{% endblock title %}

{% block content %}
<h1 class="text-center mt-4">Perfil de {{user.username}}</h1>
<h2 class="text-center mt-2">Aca estan todos tus Datos</h2> 

<div class="container">
    <p>Nombre: {{user.first_name | default:"Ingresa tu Nombre"}}</p>
    <p>Apellido: {{user.last_name | default:"Ingresa tu Apellido"}}</p>
    <p>Correo: {{user.email | default:"Ingresa tu Correo"}}</p>
    <p>
        <img src="{{user.profile.photo.url}}" alt="">
    </p>
</div>
{% endblock %}