{% extends 'WebApp/base.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock title %}
{% block content %}


<div class="container">
  <h2>About Us</h2>
  <p>
   
    ¡Bienvenido a DeTodo! Somos una tienda online dedicada a ofrecerte una amplia variedad de artículos que se adaptan a tus necesidades y gustos. Nuestra misión es simplificar tu experiencia de compra, brindándote productos de calidad al alcance de un clic.
    
    En DeTodo, creemos en la diversidad y en la importancia de ofrecer algo para todos. Por eso, nuestro catálogo incluye diversas categorias de productos, cuidadosamente seleccionados para garantizar tu satisfacción.
    
    Trabajamos con pasión para asegurarnos de que encuentres lo que necesitas de manera fácil, rápida y segura. Además, nos enorgullece ofrecer un servicio al cliente excepcional, porque tu experiencia es nuestra prioridad.
    
    ¡Gracias por elegirnos! En DeTodo, estamos aquí para ayudarte a encontrar lo que buscas y mucho más.</p>
</div>

<section class="page-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Servicios</h2>
          <h3 class="section-subheading text-muted">Pagina especializada en Compra y Venta de Prodcutos</h3>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">E-Commerce</h4>
              <p class="text-muted">Vende tus productos con nosotros</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Atencion 24/7</h4>
              <p class="text-muted">Si necesitas asistencia no dudes en contactarnos!</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Web Segura</h4>
              <p class="text-muted">No te preocupes por tu venta, te aseguramos una transaccion 100% segura</p>
          </div>
      </div>
  </div>
</section>

{% endblock  %}
    